.container {
    padding: .5rem;
    max-width: 80rem;
    margin: 0 auto
}

section.dashboard {
    background: #f7f7f7
}

section.navbar {
    background: #f2f2f2;
}

.navbar .container {
    padding-bottom: 0!important;
}

.full-video .container {
    padding: 0;
    max-width: 100%;
}

.hiro .container {
    max-width: 90rem;
}

section.hiro {
    background: linear-gradient( 179deg, #f2f2f2, transparent);
}

section.footer {
    background: #f2f2f2;
}

.cta {
    border-radius: .5rem;
    padding: .5rem 1rem;
    background: linear-gradient( 90deg, var(--first-color), var(--second-color));
    color: white!important;
    font-size: .8rem;
    display: inline-block;
    cursor: pointer;
}

.cta:hover {
    box-shadow: 1px 1px 50px 5px #a300cf4d!important;
}

.centered-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    position: relative;
    overflow: hidden;
    height: 28rem;
    border-radius: 2rem;
}

section.counts {
    position: absolute;
    width: 100%;
}


/* Entrance animation */

.before-top-enter {
    opacity: 0;
    transition: all 1000ms cubic-bezier(.46, .01, .06, 1.83);
    transform: translateY(10px);
}

.before-left-enter {
    transform: translate(-20px, 0px)!important;
}

.before-top-enter-with-delay {
    opacity: 0;
    transition: all 1000ms cubic-bezier(.46, .01, .06, 1.83);
    transition-delay: 300ms;
    transform: translateY(10px);
}

.before-top-enter-with-extra-delay {
    opacity: 0;
    transition: all 1000ms cubic-bezier(.46, .01, .06, 1.83);
    transition-delay: 700ms;
    transform: translateY(10px);
}

.before-top-enter-with-ultra-delay {
    opacity: 0;
    transition: all 1000ms cubic-bezier(.46, .01, .06, 1.83);
    transition-delay: 1s;
    transform: translateY(10px);
}

.enter {
    opacity: 1;
    transform: translate(0px, 0px)!important;
}


/* star rating styles */

.c-filled-stars {
    width: 100%;
    height: 1.2rem;
    position: absolute;
    background: url(../images/icons/filled-stars.svg) no-repeat left /auto;
}

.c-empty-stars {
    width: 100%;
    height: 1.2rem;
    position: absolute;
    background: url(../images/icons/empty-stars.svg) no-repeat left /auto;
}

.star-container {
    width: 88px;
    position: relative;
    margin: 0.5rem 0 1.6rem 0;
}


/* Room card styles */

.special-room-cards {
    display: flex;
    flex-wrap: wrap;
}

.special-room-card {
    flex: 0 0 100%;
    margin: 0 auto;
}

.sr-image-container {
    height: 12rem;
    box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 20%);
    border-radius: 10px;
    position: relative;
    top: 2.3rem;
    width: 90%;
    margin: 0 auto;
}

.sr-text-container h1 {
    font-size: 1rem;
}

.sr-text-container h1,
.sr-text-container h4,
.sr-text-container p {
    margin: 0;
    padding: 0
}

.sr-text-container h4,
.collection-card-room-count {
    color: var(--title);
    font-weight: normal;
    font-size: 0.8rem;
    margin-top: 0.3rem!important;
    direction: rtl;
}

.sr-text-container p {
    font-weight: normal;
    font-size: 0.7rem;
    margin-top: 0.3rem!important;
}

.sr-text-container {
    padding: 4rem 1.5rem 1.5rem;
    box-shadow: 1px 1px 45px 1px rgb(0 0 0 / 14%);
    border-radius: 10px;
    text-align: right;
}

.ic-main-title {
    margin-bottom: 0;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
    font-size: 2rem;
}

.ic-text-part {
    font-size: 0.8rem;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
    line-height: 2;
}

.nav-menu-container {
    position: fixed;
    height: 100vh;
    top: 0;
    background: #fff;
    width: 60%;
    right: 0;
    padding: 2rem 2rem 0 0;
    transition: all 500ms;
    transform: translateX(100%);
    z-index: 5;
}

.full-video-container {
    background: url(../images/general/raz.jpg) no-repeat fixed center center/auto;
    height: 30rem
}

.carousel-img {
    height: 100%;
    width: auto;
}

.nav-menu {
    list-style: none;
    flex-direction: column;
    margin: 0;
    text-align: right;
    direction: rtl;
    padding: 0;
}

.cancle-icon,
.video-cancle-icon,
.comment-cancle-icon {
    position: absolute;
    width: 2rem;
    top: 1rem;
    right: 50%;
    transform: translatex(50%);
    cursor: pointer;
}

.video-cancle-icon {
    cursor: pointer;
    z-index: 241;
}

.nav-menu li {
    margin-top: 1rem;
    border-top: 1px dashed var(--text);
    padding-top: 1rem;
}

.nav-menu li a {
    display: inline-block;
    cursor: pointer;
    transition: all 200ms;
}

.nav-menu li:not(:first-child):hover a {
    transform: translateX(-0.2rem);
}

.image-content {
    position: absolute;
    top: 0;
    right: 10%;
    color: white;
    text-align: right;
    width: 80%;
    z-index: 3;
}

nav {
    padding: 0 .5rem;
}

.special-active {
    font-weight: bold;
    color: var(--black-font)!important;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: linear-gradient( 30deg, rgba(0, 0, 0, 0.24) 10%, #112631, #440e1d 110%);
}

.fade-video-modal {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 500ms;
    background: #000000c4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fade-video-modal video {
    width: 100%;
}

.visible-video-modal {
    top: 0%!important;
    opacity: 1!important;
    z-index: 240;
}

.second-title {
    font-size: 1rem;
    margin: 0.5rem 0 0 0;
}

.title-icon h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.s-offer-nav-container span {
    font-size: 0.8rem;
    margin-left: 1rem;
    color: var(--title);
    cursor: pointer;
}

.logo {
    margin-right: 1rem;
}

.collection-text-part {
    text-align: right;
    margin-bottom: 4rem;
}

.footer-navs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 0 1 22rem;
    order: 3;
}

.card-left-carot {
    width: .7rem;
    transition: all 300ms;
}

@keyframes hit {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}

.learning-card {
    cursor: pointer;
}

.sr-learning-image-container {
    overflow: hidden;
}

.learning-card-image {
    height: 100%;
    transition: all 300ms;
}

.card-right-arrow {
    width: .7rem;
    transition: all 300ms;
    margin-left: .5rem;
}

.learning-card:hover .discount-countdown {
    top: 50%;
    opacity: 1;
}

.learning-card:hover .learning-card-image {
    transform: scale(1.1);
}

.learning-card:hover .card-left-carot {
    animation: hit 300ms linear 1;
}

.learning-card:hover .card-right-arrow {
    transform: translateX(5px);
}

.collection-card:hover .learning-card-image {
    transform: scale(1.1);
}

.collection-card:hover .card-left-carot {
    animation: hit 300ms linear 1;
}

.collection-card:hover .card-right-arrow {
    transform: translateX(5px);
}

.collection-logo {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    margin: 0 0.6rem 0.6rem;
    border-radius: 0.5rem;
    transition: all 400ms;
    filter: hue-rotate(280deg);
}

.count-text-part span:first-child {
    font-size: 1rem;
    font-weight: bold;
}

.count-text-part span:last-child {
    font-size: 0.7rem;
    font-weight: normal;
}

.count-parts img {
    display: none;
}

.count-container {
    position: relative;
    top: -5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11rem;
    width: 80%;
    margin: 0 auto;
    z-index: 5;
    color: white;
    border: 2px solid white;
    padding: 0.6rem;
}

.count-parts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 33%;
}

.column-reverse {
    flex-direction: column-reverse;
}

.header-main-title {
    font-size: 2rem;
    margin: 0;
}

.no-margin-hiro .container {
    margin-bottom: 0;
}

.sr-collection-text-container {
    padding: 3rem 0.9rem 1.5rem;
    box-shadow: 1px 1px 45px 1px rgb(0 0 0 / 14%);
    border-radius: 10px;
    text-align: center;
}

.collection-card {
    flex: 0 0 47%;
    margin: 0 auto;
    cursor: pointer;
}

.collection-card-title {
    font-size: .8rem;
    margin-bottom: .5rem;
}

.collection-card-room-count {
    font-size: .7rem;
    direction: rtl;
}

.search-input-container {
    text-align: right;
    position: relative;
    margin-bottom: 2rem;
}

.search-input::placeholder {
    color: #5F6368
}

.search-filter-input::placeholder {
    color: hsla(0, 0%, 100%, .75);
}

.search-input {
    border: 1px solid #DCDEE1;
    padding: .5rem 2.6rem .5rem 1rem;
    border-radius: 2rem;
    width: 100%;
    text-align: right;
}

.search-icon {
    position: absolute;
    width: 1.2rem;
    right: 0.9rem;
    top: 0.7rem;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: relative;
    border-radius: 0 0 2rem 2rem;
}

.room-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-title {
    margin-left: 1rem;
}

.preventing-child-click {
    position: relative;
    margin-top: .5rem;
}

.filter-carot-down {
    width: .7rem;
    margin-left: .7rem;
}

.small-icon {
    width: .8rem;
}

.header {
    color: white;
    position: relative;
}

.header-filter-container {
    background: linear-gradient(to right, #440e1d, #112631);
    position: relative;
    border-radius: 2rem;
}

.header-filter-container::before {
    position: absolute;
    background: var(--bg);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    opacity: .15;
    border-radius: 2rem;
}

.search-input-container {
    position: relative;
    flex: 0 0 90%;
    margin-bottom: 0;
}

.each-filter-container:hover {
    color: #176087;
}

.preventing-child-click:nth-child(even) .each-filter-container {
    margin-left: .5rem;
}

.each-filter-container {
    padding: .5rem 1rem;
    display: flex;
    color: hsla(0, 0%, 100%, .75);
    border: 1px solid #DCDEE1;
    border-radius: 2rem;
    cursor: pointer;
    font-size: .9rem;
    transition: all 300ms;
}

.genre-ab-span {
    padding: .8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pc-ab-span {
    text-align: center;
    padding: 0.7rem 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(100% / 3);
    direction: rtl;
}

.absolute-box div {
    transition: all 300ms;
    cursor: pointer;
}

.span-child {
    display: flex;
    font-size: 0.7rem;
    border-radius: 1rem;
    margin-left: 0.4rem;
    background: #e9d170;
    color: #7e6e31;
    padding: 0.3rem .6rem;
    font-weight: bold;
}

.span-child:last-child {
    margin-left: 0;
}

.room-icons {
    width: 0.8rem;
    margin-left: 0.5rem;
    bottom: 0.1rem;
    position: relative;
}

.rs-rate-sentence {
    direction: rtl;
    margin-bottom: 2rem;
}

.rs-rate-count {
    font-size: .8rem;
    margin-right: 0.5rem;
    color: var(--main-title);
}

.rs-rate-avg {
    font-size: 2rem;
    font-weight: bold;
    margin-right: .3rem;
}

.show-room-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rs-box-shadow {
    box-shadow: 1px 1px 45px 1px rgb(0 0 0 / 14%);
    border-radius: 1rem;
    padding: 1rem;
}

.rs-each-box-container {
    text-align: right;
}

.rs-diagram-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rs-diagram-and-text:last-child {
    margin-bottom: 0;
}

.rs-diagram-and-text {
    margin-bottom: 1.5rem;
}

.rs-diagram {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rs-diagram-shape-container {
    height: 1rem;
    border-radius: .5rem;
    box-shadow: inset 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    flex: 0 0 70%
}

.rs-diagram-dynamic-shape {
    position: absolute;
    border-radius: .5rem;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: #CBAD34;
}

.res-diagram-title h4 {
    font-size: .8rem;
    margin: 0;
}

.res-diagram-title {
    flex: 0 0 23%
}

.sr-sticker:last-child {
    margin-right: 0;
}

.sr-sticker {
    border-radius: 1rem;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    box-shadow: 0px 0px 3rem 1px rgb(0 0 0 / 20%);
    color: #ffffff96;
    border: 2px solid #ffffff96;
    margin-right: .2rem;
}

.sticker-img {
    width: .8rem;
    margin-left: .3rem;
}


/* .sr-left-sticker {
    border: 2px solid #79671e;
    color: #79671e;
}

.sr-middle-sticker {
    border: 2px solid #3ab54a;
    color: #3ab54a;
}

.sr-right-sticker {
    border: 2px solid #176087;
    color: #176087;
} */

.discount-countdown {
    position: absolute;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.3rem;
    padding: 1rem;
    direction: rtl;
    background: #00000073;
    text-align: center;
    box-shadow: 0 0 4rem 1rem rgb(0 0 0 / 20%);
    top: 100%;
    opacity: 0;
    transition: all 300ms;
}

.discount-timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discount-time-var {
    font-size: 1.2rem;
}

.discount-time-word {
    font-size: 0.7rem;
}

.discount-period {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.5rem;
}

.discount-sentence {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.carot-child-container {
    margin: 1rem -1.5rem -1.5rem -1.5rem;
    background: var(--second-color);
    padding: 1rem 1.2rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rs-box-title {
    font-size: 1.3rem;
    text-align: right;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: var(--second-color);
}

.rsd-image-text-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.rsd-image-container {
    flex: 0 0 100%;
    height: 25rem;
    border-radius: .5rem;
    order: 1;
    margin: 0 auto
}

.rsd-cta-collection-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.7rem;
}

.rsd-cta:hover {
    box-shadow: 0 0 2rem 1px rgba(0, 0, 0, 0.2);
}

.rsd-cta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--second-color);
    padding: .5rem 0.8rem;
    border-radius: 0.5rem;
    transition: all 300ms;
    cursor: pointer;
}

.lc-read-more {
    color: white;
    font-size: .9rem;
}

.rsd-descripton-text {
    text-align: right;
    flex: 0 0 90%;
    margin: 2rem auto 0;
    order: 2;
}

.rsd-p {
    font-size: .8rem;
    color: var(--title);
    line-height: 1.8;
}

.rsd-h {
    margin: 0 0 1.7rem 0;
    font-size: 1.2rem;
    color: var(--main-title);
}

.rsd-collection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
}

.rsd-collection-image {
    width: 3rem;
    height: 3rem;
    margin: 0 0 .5rem 0;
    border-radius: .5rem;
}

.rsd-collection-name {
    font-size: .85rem;
    color: var(--title);
    font-weight: bold;
}

.des-comments-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.comments-boxes h4 {
    margin: 0;
    font-size: 1rem;
}

.comment-date {
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--text);
    font-weight: normal;
    margin-bottom: 4px;
    margin: 0 0 5px 0;
}

.comments-boxes-p {
    font-size: .85rem;
    line-height: 1.6;
    color: var(--text);
}


/* .comments-boxes:hover {
    box-shadow: none;
    background: #eaeaf157;
} */

.comments-boxes {
    flex: 0 0 100%;
    margin-top: 1rem;
    text-align: right;
    /* cursor: pointer; */
    background: white;
    transition: all 300ms;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 30px 1px rgb(0 0 0 / 10%);
}

.comment-modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    top: 10%;
    left: 0;
    opacity: 0;
    z-index: -10;
    transition: all 500ms
}

.visible-modal {
    top: 0;
    opacity: 1;
    z-index: 100;
}

.comment-modal {
    position: relative;
    width: 60%;
    height: 80%;
    background: white;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    border-radius: .5rem;
    padding: 2rem;
}

.no-entity-image-container {
    margin: 0 auto;
    width: 30%;
}

.no-entity-text {
    text-align: center;
    margin-top: 2.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #608fa8;
}


/* .new-comment-cta:hover {
    box-shadow: 0 0 1rem 0 #17608785;
}

.new-comment-cta {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
    background: var(--second-color);
    WIDTH: 12REM;
    padding: .5rem;
    border-radius: 2rem;
    color: white!important;
    font-weight: normal;
    font-size: 1rem;
    transition: all 300ms;
} */

.room-key-icon {
    width: 0.8rem;
}

.span-container {
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    margin-top: .6rem;
    flex: 0 0 100%
}

.header-span-container {
    margin-top: 1.5rem;
}

.header-icon-child:last-child {
    border-left: none;
}

.header-icon-child {
    display: flex;
    font-size: 0.7rem;
    margin-left: 0.2rem;
    color: #ecdfa8;
    padding: 0rem .3rem;
    border-left: 1px solid #4c4a4bb5;
    flex-direction: column;
    flex: 0 0 32%;
    align-items: center;
    justify-content: center;
}

.header-room-icons {
    width: 1.1rem;
}

.header-icon-txt {
    font-size: 0.9rem;
    color: #b6b0b3;
}

.rs-other-infos {
    flex: 0 0 95%;
    margin: 0 auto;
    order: 2;
}

.rs-description {
    flex: 0 0 100%;
    order: 1;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.pagination-btns:hover {
    background: #b7b8bb;
}

.active-pagination {
    background: #176087!important;
    color: #e7fbed!important;
}

.pagination-btns {
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
    background: #ffffff;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 16%);
    transition: all 300ms;
    margin-left: 1rem;
    align-items: dis;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
}

.learn-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.l-description {
    flex: 0 0 100%;
    order: 1;
    text-align: right;
}

.l-special-rooms {
    flex: 0 0 100%;
    order: 2
}

.l-post-title {
    color: var(--second-color);
    margin: 7px 0;
    text-align: right;
}

.l-post-description {
    font-size: 0.82rem;
    line-height: 2;
    color: var(--title);
}

.learning-date {
    font-size: .7rem;
    color: var(--text);
}

.l-title-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.l-user-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.l-user-text {
    font-size: .8rem;
    margin-right: 0.7rem;
    color: #3c4f61;
    position: relative;
    display: block;
}

.l-card-container {
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
    border-radius: 1rem;
}

.global-card-container {
    display: flex;
    flex-wrap: wrap;
}

.dashboard-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.d-right-nav {
    flex: 0 0 18%;
    background: #fff;
    box-shadow: 0 6px 27px 7px rgb(0 0 0 / 6%);
    border-radius: 10px;
    color: var(--second-color);
}

.d-item-container {
    flex: 0 0 78%;
}

.d-user-infos {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem 4rem;
}

.d-icon {
    width: .8rem;
}

.d-nav-icon {
    margin-left: .5rem;
}

.d-user-name {
    font-size: 0.9rem;
    font-weight: bold;
}

ul.d-nav-items li a {
    text-align: right;
}

ul.d-nav-items li:hover .d-nav-text {
    color: var(--second-color)
}

ul.d-nav-items li {
    margin-top: 1.5rem;
}

ul.d-nav-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    padding: 0 1.5rem 2rem;
}

.router-link-active .d-nav-text {
    color: var(--second-color);
    font-weight: bold;
}

.d-nav-text {
    color: #9daac5;
    transition: all 300ms;
}

.small-icon {
    width: .7rem;
}

.d-cards-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.d-item-container {
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
}

.d-status-bar {
    padding: 1.2rem;
    text-align: right;
    margin-bottom: 2rem;
    background: #ececec;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 1rem 1px rgb(0 0 0 / 6%);
}

.d-add-item-cta:hover {
    box-shadow: 0px 0px 2rem 3px rgb(0 0 0 / 10%);
}

.d-add-item-cta {
    border: 2px solid var(--second-color);
    padding: .5rem 1rem;
    border-radius: .5rem;
    background: var(--second-color);
    color: white!important;
    font-size: .8rem;
    display: flex;
    cursor: pointer;
    transition: all 300ms;
}

.d-card-container:hover {
    background: rgba(0, 0, 0, 0.14)
}

.d-card-container {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0px 27px 3px rgb(0 0 0 / 6%);
    flex: 0 0 15%;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 300ms;
    text-align: center;
}

.d-card-text {
    font-size: .8rem;
    color: var(--title);
    margin-top: 1rem;
}

@media screen and (min-width:480px) {
    .header-span-container {
        margin-top: 0;
    }
    .hardness-header-text {
        margin-right: 1rem;
    }
    .span-container {
        flex: initial;
        justify-content: flex-start;
    }
    .header-icon-child {
        margin-left: 0.4rem;
        padding: 0rem .6rem;
        flex-direction: row;
        flex: initial;
        align-items: center;
        justify-content: center;
    }
    .rsd-collection-image {
        margin: 0 0 0 .5rem;
    }
    .rsd-collection {
        flex-direction: row;
    }
    .rs-box-shadow {
        padding: 2rem;
    }
    .rsd-image-container {
        flex: 0 0 90%;
    }
    .rs-other-infos {
        flex: 0 0 80%;
    }
    .each-filter-container {
        margin-left: .5rem;
    }
    .collection-card {
        flex: 0 0 31%;
    }
    .header-main-title {
        font-size: 2.8rem;
    }
    .count-parts {
        flex-direction: row;
    }
    .footer-navs {
        justify-content: space-evenly;
        flex: 0 0 60%;
    }
    .carousel {
        height: 32rem;
    }
    .ic-main-title {
        font-size: 2.8rem;
    }
    .ic-text-part {
        font-size: 1.1rem;
    }
    .main-cta {
        font-size: 1rem
    }
    .nav-menu-container {
        width: 45%;
    }
    .container {
        padding: 1rem;
    }
    .special-room-card {
        flex: 0 0 48%;
    }
    .full-video-container {
        background: url(../images/general/raz.jpg) no-repeat fixed center center/cover;
        height: 40rem
    }
    .sr-learning-text-container {
        text-align: right;
        padding-right: 5rem;
    }
    .learning-card-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .learning-card {
        flex: 0 0 48%;
    }
    .fade-video-modal video {
        width: 65%;
    }
}

@media screen and (min-width:768px) {
    .l-description {
        flex: 0 0 55%;
        order: 2;
    }
    .l-special-rooms {
        flex: 0 0 35%;
        order: 1;
    }
    .l-complicated-room {
        flex: 0 0 90%!important;
    }
    .rsd-descripton-text {
        flex: 0 0 55%;
        order: initial;
        margin: 0;
    }
    .rsd-image-container {
        flex: 0 0 40%;
        order: initial;
        margin: 0
    }
    .rs-description {
        flex: 0 0 65%;
        order: initial;
    }
    .rs-other-infos {
        flex: 0 0 29%;
        order: initial;
    }
    .search-input-container {
        flex: 0 0 26%;
    }
    .filter-container {
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1.5rem 2rem;
    }
    .search-input {
        width: 40%;
    }
    .collection-card-room-count {
        font-size: .8rem;
        direction: rtl;
    }
    .collection-card-title {
        font-size: 1rem;
    }
    .collection-card {
        flex: 0 0 24%;
    }
    .column-reverse {
        flex-direction: initial;
    }
    .count-text-part span:first-child {
        font-size: 1.6rem;
        font-weight: bold;
    }
    .count-container {
        position: relative;
        top: -12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 11rem;
        width: 80%;
        margin: 0 auto;
        z-index: 5;
        color: white;
        border: none;
        padding: 0.6rem;
    }
    .count-parts {
        flex: 0 0 15%;
        margin-left: 1rem;
    }
    .count-parts img {
        width: 3rem;
        display: initial;
    }
    .container {
        padding: 1rem 2rem 3rem;
    }
    .footer-container {
        display: flex;
        flex-wrap: wrap;
    }
    .collection-text-part {
        margin-bottom: 0;
        flex: 0 0 45%;
    }
    .collection-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        margin-right: 0;
    }
    .s-offer-nav-container span {
        font-size: 0.9rem;
        margin-left: 2rem;
    }
    .second-title {
        font-size: 1.1rem;
        margin: 0.5rem 0 0 0;
    }
    .title-icon h1 {
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
    .carousel {
        height: 87vh;
    }
    .carousel-img {
        height: 100%;
        width: auto;
    }
    .hamburger-menu {
        display: none
    }
    .nav-menu-container {
        position: relative;
        height: initial;
        top: 0;
        background: initial;
        width: 100%;
        padding: 0;
        transition: all 500ms;
        transform: initial;
    }
    .nav-menu {
        flex-direction: row;
    }
    .cancle-icon {
        display: none
    }
    .nav-menu li {
        margin: 0 2rem 0 0;
        border-top: none;
        padding-top: 0;
    }
    .nav-menu li a {
        color: var(--title)!important;
    }
    .nav-menu li:hover a {
        transform: none!important;
        font-weight: bold;
    }
    .image-content {
        top: 40%;
        width: 60%;
        transform: translateY(-50%);
    }
    .fade-video-modal video {
        width: 35%;
    }
}

@media screen and (min-width:1024px) {
    .l-description {
        flex: 0 0 65%;
    }
    .l-special-rooms {
        flex: 0 0 28%;
    }
    .lp-learning-card {
        flex: 0 0 32%;
    }
    .comments-boxes {
        flex: 0 0 47%;
        margin-left: 1rem;
    }
    .search-input {
        width: 30%;
    }
    .collection-card {
        flex: 0 0 19%;
    }
    .ic-main-title {
        font-size: 3.8rem;
    }
    .learning-container {
        display: flex;
        justify-content: space-between;
    }
    .header-and-cta {
        order: 1;
        flex: 0 0 40%;
        padding: 0 0 0 5rem;
    }
    .carousel-img {
        height: auto;
        width: 100%;
    }
    .full-video-container {
        background: url(../images/general/raz.jpg) no-repeat fixed center center/cover;
        height: 100vh;
    }
    .container {
        padding: 1rem 2rem 5rem;
    }
    nav {
        padding: 0 2.5rem;
    }
    .image-content {
        width: 50%;
    }
    .special-room-card {
        flex: 0 0 23%;
    }
}

@media screen and (min-width:1200px) {
    .collection-card {
        flex: 0 0 15%;
    }
    .image-content {
        width: 40%;
    }
}