.hiro .container,
.special-rooms .container,
.learning .container,
.collections .container,
.footer .container {
    padding: .5rem;
}

section.learning,
section.collections,
section.footer {
    margin-top: 3rem;
}

section.footer {
    background: #f2f2f2;
}

.cta {
    border-radius: .5rem;
    padding: .5rem 1rem;
    background: linear-gradient( 90deg, var(--first-color), var(--second-color));
    color: white!important;
    font-size: .8rem;
    display: inline-block;
    cursor: pointer;
}

.centered-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-and-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second-cta {
    background: initial!Important;
    border: 2px solid var(--first-color)!important;
    color: var(--first-color)!important;
    transition: all 200ms;
}

.second-cta:hover {
    background: var(--first-color)!important;
    color: white!important;
}

.carousel {
    position: relative;
    margin-top: 1rem;
    overflow: hidden;
    height: 25rem;
}


/* Entrance animation */

.before-top-enter {
    opacity: 0;
    transition: all 1000ms cubic-bezier(.46, .01, .06, 1.83);
    transform: translateY(10px);
}

.before-left-enter {
    transform: translate(-20px, 0px)!important;
}

.before-top-enter-with-delay {
    opacity: 0;
    transition: all 1000ms cubic-bezier(.46, .01, .06, 1.83);
    transition-delay: 300ms;
    transform: translateY(10px);
}

.before-top-enter-with-extra-delay {
    opacity: 0;
    transition: all 1000ms cubic-bezier(.46, .01, .06, 1.83);
    transition-delay: 700ms;
    transform: translateY(10px);
}

.before-top-enter-with-ultra-delay {
    opacity: 0;
    transition: all 1000ms cubic-bezier(.46, .01, .06, 1.83);
    transition-delay: 1s;
    transform: translateY(10px);
}

.enter {
    opacity: 1;
    transform: translate(0px, 0px)!important;
}

.special-rooms {
    margin-top: 2rem;
}


/* star rating styles */

.c-filled-stars {
    width: 100%;
    height: 2rem;
    position: absolute;
    background: url(../images/icons/filled-stars.svg) no-repeat left /auto;
}

.c-empty-stars {
    width: 100%;
    height: 2rem;
    position: absolute;
    background: url(../images/icons/empty-stars.svg) no-repeat left /auto;
}

.star-container {
    width: 88px;
    position: relative;
    height: 2rem;
    margin: .2rem auto 0.6rem;
}


/* Room card styles */

.special-room-cards {
    display: flex;
    flex-wrap: wrap;
}

.special-room-card {
    flex: 0 0 80%;
    margin: 0 auto;
}

.sr-image-container {
    height: 7rem;
    box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 20%);
    border-radius: 10px;
    position: relative;
    top: 2.3rem;
    width: 90%;
    margin: 0 auto;
}

.sr-text-container h1 {
    font-size: 1rem;
}

.sr-text-container h1,
.sr-text-container h4,
.sr-text-container p {
    margin: 0;
    padding: 0
}

.sr-text-container h4 {
    color: var(--title);
    font-weight: normal;
    font-size: 0.8rem;
    margin-top: 0.3rem!important;
}

.sr-text-container p {
    color: var(--text);
    font-weight: normal;
    font-size: 0.7rem;
    margin-top: 0.3rem!important;
}

.sr-text-container {
    padding: 3rem 1rem 1rem 1rem;
    box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 20%);
    border-radius: 10px;
    text-align: center;
}

.image-content h1 {
    margin-bottom: 0;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
    font-size: 2rem;
}

.image-content p {
    font-size: 0.8rem;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
    line-height: 2;
}

.nav-menu-container {
    position: fixed;
    height: 100vh;
    top: 0;
    background: #fff;
    width: 60%;
    right: 0;
    padding: 2rem 2rem 0 0;
    transition: all 500ms;
    transform: translateX(100%);
    z-index: 5;
}

.full-video-container {
    margin-top: 3rem;
    background: url(../images/general/raz.jpg) no-repeat center center/auto;
    height: 30rem
}

@media screen and (min-width:480px) {
    .carousel {
        height: 32rem;
    }
    .image-content h1 {
        font-size: 2.8rem;
    }
    .image-content p {
        font-size: 1.1rem;
    }
    .hiro-cta {
        font-size: 1rem
    }
    .nav-menu-container {
        width: 45%;
    }
    .hiro .container,
    .special-rooms .container,
    .learning .container,
    .collections .container,
    .footer .container {
        padding: 1rem;
    }
    .special-room-card {
        flex: 0 0 50%;
    }
    .full-video-container {
        background: url(../images/general/raz.jpg) no-repeat center center/cover;
        height: 30rem
    }
    .learning-card {
        display: flex;
        align-items: center;
        height: 20rem;
    }
    .sr-learning-image-container {
        height: initial;
        top: initial;
        width: 100%;
    }
}