.container {
    padding: .5rem;
    max-width: 80rem;
    margin: 0 auto
}

section.navbar {
    background: #f2f2f2;
}

.navbar .container {
    padding-bottom: 0!important;
}

.full-video .container {
    padding: 0;
    max-width: 100%;
}

.hiro .container {
    max-width: 90rem;
}

section.hiro {
    background: linear-gradient( 179deg, #f2f2f2, transparent);
}

section.footer {
    background: #f2f2f2;
}

.cta {
    border-radius: .5rem;
    padding: .5rem 1rem;
    background: linear-gradient( 90deg, var(--first-color), var(--second-color));
    color: white!important;
    font-size: .8rem;
    display: inline-block;
    cursor: pointer;
}

.cta:hover {
    box-shadow: 1px 1px 50px 5px #a300cf4d!important;
}

.centered-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    position: relative;
    overflow: hidden;
    height: 28rem;
    border-radius: 2rem;
}

section.counts {
    position: absolute;
    width: 100%;
}


/* Entrance animation */

.before-top-enter {
    opacity: 0;
    transition: all 1000ms cubic-bezier(.46, .01, .06, 1.83);
    transform: translateY(10px);
}

.before-left-enter {
    transform: translate(-20px, 0px)!important;
}

.before-top-enter-with-delay {
    opacity: 0;
    transition: all 1000ms cubic-bezier(.46, .01, .06, 1.83);
    transition-delay: 300ms;
    transform: translateY(10px);
}

.before-top-enter-with-extra-delay {
    opacity: 0;
    transition: all 1000ms cubic-bezier(.46, .01, .06, 1.83);
    transition-delay: 700ms;
    transform: translateY(10px);
}

.before-top-enter-with-ultra-delay {
    opacity: 0;
    transition: all 1000ms cubic-bezier(.46, .01, .06, 1.83);
    transition-delay: 1s;
    transform: translateY(10px);
}

.enter {
    opacity: 1;
    transform: translate(0px, 0px)!important;
}


/* star rating styles */

.c-filled-stars {
    width: 100%;
    height: 1.2rem;
    position: absolute;
    background: url(../images/icons/filled-stars.svg) no-repeat left /auto;
}

.c-empty-stars {
    width: 100%;
    height: 1.2rem;
    position: absolute;
    background: url(../images/icons/empty-stars.svg) no-repeat left /auto;
}

.star-container {
    width: 88px;
    position: relative;
    margin: 0.5rem 0 1.6rem 0;
}

.global-card-container {
    display: flex;
    flex-wrap: wrap;
}


/* Room card styles */

.special-room-cards {
    display: flex;
    flex-wrap: wrap;
}

.special-room-card {
    flex: 0 0 80%;
    margin: 0 auto;
}

.sr-image-container {
    height: 12rem;
    box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 20%);
    border-radius: 10px;
    position: relative;
    top: 2.3rem;
    width: 90%;
    margin: 0 auto;
}

.sr-text-container h1 {
    font-size: 1rem;
}

.sr-text-container h1,
.sr-text-container h4,
.sr-text-container p {
    margin: 0;
    padding: 0
}

.sr-text-container h4,
.collection-card-room-count {
    color: var(--title);
    font-weight: normal;
    font-size: 0.8rem;
    margin-top: 0.3rem!important;
}

.sr-text-container p {
    font-weight: normal;
    font-size: 0.7rem;
    margin-top: 0.3rem!important;
}

.sr-text-container {
    padding: 4rem 1.5rem 1.5rem;
    box-shadow: 1px 1px 45px 1px rgb(0 0 0 / 14%);
    border-radius: 10px;
    text-align: right;
}

.ic-main-title {
    margin-bottom: 0;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
    font-size: 2rem;
}

.ic-text-part {
    font-size: 0.8rem;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
    line-height: 2;
}

.nav-menu-container {
    position: fixed;
    height: 100vh;
    top: 0;
    background: #fff;
    width: 60%;
    right: 0;
    padding: 2rem 2rem 0 0;
    transition: all 500ms;
    transform: translateX(100%);
    z-index: 5;
}

.full-video-container {
    background: url(../images/general/raz.jpg) no-repeat fixed center center/auto;
    height: 30rem
}

.carousel-img {
    height: 100%;
    width: auto;
}

.nav-menu {
    list-style: none;
    flex-direction: column;
    margin: 0;
    text-align: right;
}

.cancle-icon,
.video-cancle-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    top: 1rem;
    right: 50%;
    transform: translatex(50%);
}

.video-cancle-icon {
    cursor: pointer;
    z-index: 241;
}

.nav-menu li {
    margin-top: 1rem;
    border-top: 1px dashed var(--text);
    padding-top: 1rem;
}

.nav-menu li a {
    display: inline-block;
    cursor: pointer;
    transition: all 200ms;
}

.nav-menu li:not(:first-child):hover a {
    transform: translateX(-0.2rem);
}

.image-content {
    position: absolute;
    top: 0;
    right: 10%;
    color: white;
    text-align: right;
    width: 80%;
    z-index: 3;
}

nav {
    padding: 0 .5rem;
}

.special-active {
    font-weight: bold;
    color: var(--black-font)!important;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: linear-gradient( 30deg, rgba(0, 0, 0, 0.24) 10%, #112631, #440e1d 110%);
}

.fade-video-modal {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 500ms;
    background: #000000c4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fade-video-modal video {
    width: 100%;
}

.visible-video-modal {
    top: 0%!important;
    opacity: 1!important;
    z-index: 240;
}

.second-title {
    font-size: 1rem;
    margin: 0.5rem 0 0 0;
}

.title-icon h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.s-offer-nav-container span {
    font-size: 0.8rem;
    margin-left: 1rem;
    color: var(--title);
    cursor: pointer;
}

.logo {
    margin-right: 1rem;
}

.collection-text-part {
    text-align: right;
    margin-bottom: 4rem;
}

.footer-navs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 0 1 22rem;
    order: 3;
}

.card-left-carot {
    width: .7rem;
    transition: all 300ms;
}

@keyframes hit {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}

.learning-card {
    cursor: pointer;
}

.sr-learning-image-container {
    overflow: hidden;
}

.learning-card-image {
    height: 100%;
    transition: all 300ms;
}

.card-right-arrow {
    width: .7rem;
    transition: all 300ms;
    margin-left: .5rem;
}

.learning-card:hover .learning-card-image {
    transform: scale(1.1);
}

.learning-card:hover .card-left-carot {
    animation: hit 300ms linear 1;
}

.learning-card:hover .card-right-arrow {
    transform: translateX(5px);
}

.collection-card:hover .learning-card-image {
    transform: scale(1.1);
}

.collection-card:hover .card-left-carot {
    animation: hit 300ms linear 1;
}

.collection-card:hover .card-right-arrow {
    transform: translateX(5px);
}

.collection-logo {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    margin: 0 0.6rem 0.6rem;
    border-radius: 0.5rem;
    transition: all 400ms;
    filter: hue-rotate(280deg);
}

.count-text-part span:first-child {
    font-size: 1rem;
    font-weight: bold;
}

.count-text-part span:last-child {
    font-size: 0.7rem;
    font-weight: normal;
}

.count-parts img {
    display: none;
}

.count-container {
    position: relative;
    top: -5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11rem;
    width: 80%;
    margin: 0 auto;
    z-index: 5;
    color: white;
    border: 2px solid white;
    padding: 0.6rem;
}

.count-parts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 33%;
}

.column-reverse {
    flex-direction: column-reverse;
}

.header-main-title {
    font-size: 2rem;
    margin: 0;
}

.no-margin-hiro .container {
    margin-bottom: 0;
}

.sr-collection-text-container {
    padding: 3rem 0.9rem 1.5rem;
    box-shadow: 1px 1px 45px 1px rgb(0 0 0 / 14%);
    border-radius: 10px;
    text-align: center;
}

.collection-card {
    flex: 0 0 47%;
    margin: 0 auto;
    cursor: pointer;
}

.collection-card-title {
    font-size: .8rem;
    margin-bottom: .5rem;
}

.collection-card-room-count {
    font-size: .7rem;
    direction: rtl;
}

.search-input-container {
    text-align: right;
    position: relative;
    margin-bottom: 2rem;
}

.search-input::placeholder {
    color: #5F6368
}

.search-filter-input::placeholder {
    color: hsla(0, 0%, 100%, .75);
}

.search-input {
    border: 1px solid #DCDEE1;
    padding: .5rem 2.6rem .5rem 1rem;
    border-radius: 2rem;
    width: 100%;
    text-align: right;
}

.search-icon {
    position: absolute;
    width: 1.2rem;
    right: 0.9rem;
    top: 0.7rem;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: relative;
    border-radius: 0 0 2rem 2rem;
}

.room-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-title {
    margin-left: 1rem;
}

.preventing-child-click {
    position: relative;
    margin-top: .5rem;
}

.filter-carot-down {
    width: .7rem;
    margin-left: .7rem;
}

.small-icon {
    width: .8rem;
}

.header {
    color: white;
    position: relative;
}

.header-filter-container {
    background: linear-gradient(to right, #440e1d, #112631);
    position: relative;
    border-radius: 2rem;
}

.header-filter-container::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../images/backgrounds/header-picture1.png') no-repeat -20% 50%, url('../images/backgrounds/header-picture2.png') no-repeat 140% 50%;
    content: "";
    opacity: .15;
    border-radius: 2rem;
}

.search-input-container {
    position: relative;
    flex: 0 0 90%;
    margin-bottom: 0;
}

.each-filter-container:hover {
    color: #176087;
}

.preventing-child-click:nth-child(even) .each-filter-container {
    margin-left: .5rem;
}

.each-filter-container {
    padding: .5rem 1rem;
    display: flex;
    color: hsla(0, 0%, 100%, .75);
    border: 1px solid #DCDEE1;
    border-radius: 2rem;
    cursor: pointer;
    font-size: .9rem;
    transition: all 300ms;
}

.genre-ab-span {
    padding: .8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pc-ab-span {
    text-align: center;
    padding: 0.7rem 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(100% / 3);
    direction: rtl;
}

.absolute-box div {
    transition: all 300ms;
    cursor: pointer;
}

.span-child {
    display: flex;
    font-size: 0.7rem;
    border-radius: 1rem;
    margin-left: 0.4rem;
    background: #e9d170;
    color: #7e6e31;
    padding: 0.3rem .6rem;
    font-weight: bold;
}

.room-icons {
    width: 0.8rem;
    margin-left: 0.5rem;
    bottom: 0.1rem;
    position: relative;
}

@media screen and (min-width:480px) {
    .each-filter-container {
        margin-left: .5rem;
    }
    .collection-card {
        flex: 0 0 31%;
    }
    .header-main-title {
        font-size: 2.8rem;
    }
    .count-parts {
        flex-direction: row;
    }
    .footer-navs {
        justify-content: space-evenly;
        flex: 0 0 60%;
    }
    .carousel {
        height: 32rem;
    }
    .ic-main-title {
        font-size: 2.8rem;
    }
    .ic-text-part {
        font-size: 1.1rem;
    }
    .main-cta {
        font-size: 1rem
    }
    .nav-menu-container {
        width: 45%;
    }
    .container {
        padding: 1rem;
    }
    .special-room-card {
        flex: 0 0 48%;
    }
    .full-video-container {
        background: url(../images/general/raz.jpg) no-repeat fixed center center/cover;
        height: 40rem
    }
    .sr-learning-text-container {
        text-align: right;
        padding-right: 5rem;
    }
    .learning-card-container {
        display: flex;
        justify-content: space-between;
    }
    .learning-card {
        flex: 0 0 48%;
    }
    .fade-video-modal video {
        width: 65%;
    }
}

@media screen and (min-width:768px) {
    .search-input-container {
        flex: 0 0 26%;
    }
    .filter-container {
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1.5rem 2rem;
    }
    .search-input {
        width: 40%;
    }
    .collection-card-room-count {
        font-size: .8rem;
        direction: rtl;
    }
    .collection-card-title {
        font-size: 1rem;
    }
    .collection-card {
        flex: 0 0 24%;
    }
    .column-reverse {
        flex-direction: initial;
    }
    .count-text-part span:first-child {
        font-size: 1.6rem;
        font-weight: bold;
    }
    .count-container {
        position: relative;
        top: -12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 11rem;
        width: 80%;
        margin: 0 auto;
        z-index: 5;
        color: white;
        border: none;
        padding: 0.6rem;
    }
    .count-parts {
        flex: 0 0 15%;
        margin-left: 1rem;
    }
    .count-parts img {
        width: 3rem;
        display: initial;
    }
    .container {
        padding: 1rem 2rem 3rem;
    }
    .footer-container {
        display: flex;
        flex-wrap: wrap;
    }
    .collection-text-part {
        margin-bottom: 0;
        flex: 0 0 45%;
    }
    .collection-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        margin-right: 0;
    }
    .s-offer-nav-container span {
        font-size: 0.9rem;
        margin-left: 2rem;
    }
    .second-title {
        font-size: 1.1rem;
        margin: 0.5rem 0 0 0;
    }
    .title-icon h1 {
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
    .carousel {
        height: 87vh;
    }
    .carousel-img {
        height: 100%;
        width: auto;
    }
    .hamburger-menu {
        display: none
    }
    .nav-menu-container {
        position: relative;
        height: initial;
        top: 0;
        background: initial;
        width: 100%;
        padding: 0;
        transition: all 500ms;
        transform: initial;
    }
    .nav-menu {
        flex-direction: row;
    }
    .cancle-icon {
        display: none
    }
    .nav-menu li {
        margin: 0 2rem 0 0;
        border-top: none;
        padding-top: 0;
    }
    .nav-menu li a {
        color: var(--title)!important;
    }
    .nav-menu li:hover a {
        transform: none!important;
        font-weight: bold;
    }
    .image-content {
        top: 40%;
        width: 60%;
        transform: translateY(-50%);
    }
    .fade-video-modal video {
        width: 35%;
    }
}

@media screen and (min-width:1024px) {
    .search-input {
        width: 30%;
    }
    .collection-card {
        flex: 0 0 19%;
    }
    .ic-main-title {
        font-size: 3.8rem;
    }
    .learning-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-and-cta {
        order: 1;
        flex: 0 0 40%;
        padding: 0 0 0 5rem;
    }
    .carousel-img {
        height: auto;
        width: 100%;
    }
    .full-video-container {
        background: url(../images/general/raz.jpg) no-repeat fixed center center/cover;
        height: 100vh;
    }
    .container {
        padding: 1rem 2rem 5rem;
    }
    nav {
        padding: 0 2.5rem;
    }
    .image-content {
        width: 50%;
    }
    .special-room-card {
        flex: 0 0 23%;
    }
}

@media screen and (min-width:1200px) {
    .collection-card {
        flex: 0 0 15%;
    }
    .image-content {
        width: 40%;
    }
}